body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: white;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: linear-gradient(90deg, #022851, #b28b00);
  /* UC Davis blue to dark yellow */
  color: white;
  padding: 2rem 1rem;
  /* Increased vertical padding */
  position: relative;
}

.navbar-center a {
  font-weight: bold;
  font-size: 2.0rem;
  margin-left: 40px;
  color: white !important;
  text-decoration: none !important;
}

.logo-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.logo-image {
  height: 33px; /* adjust as needed */
  width: 33px;
  margin-left: 10px;
  top: -3px; /* lifts it by 3px */
  position: relative;
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-right: 30px;
}

.human-image{
  height: 20px; /* adjust as needed */
  width: 20px;
  position: relative;
  margin-bottom:-0.23rem;
  margin-right: 0.2rem;
}

.human-image img{
  fill:#FFFF;
}