# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Flask-related
instance/
.mypy_cache/
*.db

# Pytest / coverage
.coverage
htmlcov/
.tox/
.pytest_cache/

# VSCode
.vscode/

# macOS
.DS_Store

# Migration files (if you want to ignore compiled Python versions)
migrations/__pycache__/
migrations/versions/__pycache__/
